<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>App Electron - cadastro Usuário</title>
        <script src="../js/model/dependente.js"></script>
        <script src="../js/model/dependentes-dao.js"></script>
        <script src="../js/controller/dependentes-controller.js"></script>
        <script src="../js/controller/usuario-controller.js"></script>
        <script src="./dependentes.js"></script>
        <script src="../js/database/connection.js"></script>
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body style="background-color: #1a75cc; font-family: sans-serif; color:white;">
		<header>
            <div class="header-login user-logged" style="width: 100%; height:30px; background-color: darkslategrey">
                <span class="salutation-user" style="text-align: center; font-size: 12px; padding: 5px; float: right;">bem vindo william</span>
            </div>
			<h1>View de cadastro de dependente</h1>
		</header>
		<article>
            <form role="form" action="" method="post" >
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="InputName">Nome Completo</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Nome Completo" required>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputFiliacao">Filiação</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="InputFiliacao" name="InputFiliacao" placeholder="Filiação" required  >
                                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" onclick="realizarCadastro()" type="button">Cadastrar</button>
                </div>
            </form>
		</article>
		<footer>
            <a href="../../index.html" style="text-decoration: none; display:inline-block; margin-top:30px">
                <button class="btn btn-lg btn-primary btn-block">Voltar para a home</button>
            </a>
		</footer>
	</body>
</html>
