<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>App Electron - cadastro Usuário</title>
        <script src="../js/model/usuario.js"></script>
        <script src="../js/model/usuario-dao.js"></script>
        <script src="../js/controller/usuario-controller.js"></script>    
        <script src="./cadastro-usuario.js"></script>
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body style="background-color: #1a75cc; font-family: sans-serif; color:white; padding: 10px;">
		<header>
			<h1>View de cadastro de usuario</h1>
		</header>
		<article>
            <form role="form" action="" method="post" >
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="InputName">Nome Completo</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Nome Completo" required>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Seu Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Email" required  >
                                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputLogin">Seu Login</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="InputLogin" name="InputLogin" placeholder="Login" required  >
                                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputSenha">Sua Senha</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="InputSenha" name="InputSenha" placeholder="Senha" required  >
                                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputSenha">Confirme sua Senha</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="InputConfSenha" name="InputConfSenha" placeholder="Confirmar Senha" required  >
                                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" onclick="realizarCadastro()" type="button">Cadastrar</button>
                </div>
            </form>
		</article>
		<footer>
            <a href="../../index.html" style="text-decoration: none; display:inline-block; top:30px">
                <button class="btn btn-lg btn-primary btn-block">Voltar para a home</button>
            </a>
		</footer>
	</body>
</html>
