<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>App Electron - cadastro Usuário</title>
        <script src="../js/model/contas.js"></script>
        <script src="../js/model/contas-dao.js"></script>
        <script src="../js/controller/contas-controller.js"></script>
        <script src="./contas.js"></script>
        <script src="../js/database/connection.js"></script>
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body style="background-color: #1a75cc; font-family: sans-serif; color:white;">
		<header>
            <div class="header-login user-logged" style="width: 100%; height:30px; background-color: darkslategrey">
                <span class="salutation-user" style="text-align: center; font-size: 12px; padding: 5px; float: right;">bem vindo william</span>
            </div>
			<h1>View de cadastro de conta</h1>
		</header>
		<article>
            <form role="form" action="" method="post" >
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="InputName">Nome Completo</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Nome da Conta" required>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputValor">Valor</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="InputValor" name="InputValor" placeholder="Valor da conta" required  >
                                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputVencimento">Vencimento</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="InputVencimento" name="InputVencimento" placeholder="Vencimento da conta" required  >
                                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" onclick="realizarCadastro()" type="button">Cadastrar</button>
                </div>
            </form>
		</article>
		<footer>
            <a href="./main-app.html" style="text-decoration: none; display:inline-block; margin-top:30px">
                <button class="btn btn-lg btn-primary btn-block">Voltar para a home</button>
            </a>
            <a href="../../index.html" style="text-decoration: none; display:inline-block; margin-top:30px">
                <button class="btn btn-lg btn-primary btn-block">Voltar para a login</button>
            </a>
		</footer>
	</body>
</html>
