<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>EMIR</title>
		<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body style="background-color: #1a75cc; font-family: sans-serif; color:white; padding: 10px;">
		<header>
			<div class="header-login user-logged" style="width: 100%; height:30px; background-color: darkslategrey; position: absolute; top:0; left:0;">
				<span class="salutation-user" style="text-align: center; font-size: 12px; padding: 5px; float: right;">bem vindo william</span>
			</div>
			<h1 style="margin-top:30px">Emissor de Imposto de Renda</h1>
		</header>
		<article>
            <a href="./cadastro-dependente.html">
                <button>Cadastrar Dependente</button>
			</a>
			<a href="./lista-dependentes.html">
                <button>Listar Dependentes</button>
			</a>
			<a href="./cadastro-debito.html">
                <button>Cadastrar Debito</button>
			</a>
			<a href="./lista-debito.html">
                <button>Listar Debitos</button>
			</a>
			<a href="./calculadora-financeira.html">
                <button>Calculadora Financeira</button>
            </a>
		</article>
		<footer>
            <a href="../../index.html" style="text-decoration: none; display:inline-block; top:30px">
                <button class="btn btn-lg btn-primary btn-block">Voltar para a login</button>
            </a>
		</footer>
	</body>
</html>
