<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>EMIR</title>
	</head>
	<body style="background-color: #1a75cc; font-family: sans-serif; color:white;">
		<header>
			<h1>Emissor de Imposto de Renda</h1>
		</header>
		<article>
            <a href="./cadastro-dependente.html">
                <button>Cadastrar Dependente</button>
            </a>
		</article>
		<footer>
            <a href="../../index.html">
                <button>Voltar para a home</button>
            </a>
		</footer>
	</body>
</html>
